<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/register.css">
    <title>Application | EAS</title>
</head>

<body oncontextmenu="return false">
    <div class="form-container">
        <div class="art-container">
            <div class="logo"><img src="/img/Logo.png" alt="Government of Nepal">
            </div>
            <div class="art-content">
                <p>Email</p>
                <p class="text-primary">Automation</p>
                <p class="text-danger">System</p>
            </div>
        </div>
        <div class="form-title">
            <h4>Application application</h4>
        </div>
        <form id="applicationform" action="/application" method="post">
            <div class="application-form-input">
                <input type="text" name="fullname" id="fullname" placeholder="Full Name">
                <div class="label-container" id="labelcontainerfullname">
                    <div class="form-error"></div>
                </div>
            </div>
            <div class="login-form-input">
                <input type="text" name="email" id="email" placeholder="Email" autocomplete="off" autofocus="on">
                <div class="label-container" id="labelcontaineremail">
                    <div class="form-error"></div>
                </div>
            </div>
            <div class="label-split">
                <div class="application-form-input">
                    <input class="split-input" type="date" name="dob" id="dob" placeholder="Date of Birth">
                    <div class="label-container" id="labelcontainerdob">
                        <div class="form-error"></div>
                    </div>
                </div>
                <div class="application-form-input">
                    <input class="split-input" type="text" name="mobile" id="mobile" placeholder="(+977) Mobile Number">
                    <div class="label-container" id="labelcontainermobile">
                        <div class="form-error"></div>
                    </div>
                </div>
            </div>
            <div class="label-split">
                <div class="application-form-input">
                    <input class="split-input" type="text" name="citizenship" id="citizenship"
                        placeholder="Citizenship Number">
                    <div class="label-container" id="labelcontainercitizenship">
                        <div class="form-error"></div>
                    </div>
                </div>
                <div class="application-form-input">
                    <input class="split-input" type="text" name="address" id="address" placeholder="Address">
                    <div class="label-container" id="labelcontaineraddress">
                        <div class="form-error"></div>
                    </div>
                </div>
            </div>
            <div class="application-form-input">
                <div class="radio-selection">
                    <div>
                        <h3>Gender</h3>
                    </div>
                    <div class="radio-value">
                        <input type="radio" name="gender" id="male" value="0" checked>
                        <label for="male">Male</label>
                    </div>
                    <div class="radio-value">
                        <input type="radio" name="gender" id="female" value="1">
                        <label for="female">Female</label>
                    </div>
                    <div class="radio-value">
                        <input type="radio" name="gender" id="other" value="2">
                        <label for="other">Other</label>
                    </div>
                </div>
                <div class="label-container" id="labelcontainergender">
                    <div class="form-error"></div>
                </div>
            </div>
            <div>
                <button type="submit" class="submit-button">Sign Up</button>
            </div>
        </form>
        <div class="form-option">
            Go Back?<a href="/dashboard"> Cancel</a>
        </div>
    </div>
    <script src="/js/application.js"></script>
</body>

</html>