body {
    background: #FFFFFF;
}

.header-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
}

header {
    padding: 10px;
    display: flex;
    height: auto;
    justify-content: space-evenly;
}

.art-container {
    flex-direction: column;
    width: 60%;
    justify-content: center;
}

nav {
    background-color: #2460B9;
    color: #FFFFFF;
    width: 100%;
    height: 40px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}

.userInfo {
    padding-top: 5px;
    font-size: 1.2rem;
}

a.nav-item {
    color: #FFFFFF;
    padding-top: 5px;
    font-size: 1.2rem;
}

.dashboard-container {
    position: absolute;
    top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 10px;
}

.view-title {
    padding-left: 10px;
    margin-bottom: 20px;
}

.dashboard-content {
    padding-left: 10px;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 10px;
}

.dashboard-item {
    align-items: center;
    background: #f8faff;
    border: 1px solid #efefef;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding: 50px;
    position: relative;
    justify-content: space-between;
}

.dashboard-item-icon img {
    height: 50px;
    display: block;
    max-width: 100%
}

.dashboard-item-title {
    margin-top: 10px;
}