a {
    color: #2460B9;
    font-weight: 600;
    border-color: #2460B9;
    margin-left: 5px;
    border-bottom: 1px solid #2360B9;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 540px;
    padding: 20px;
    font-size: .813rem;
    justify-content: space-between;
}

.art-container {
    margin-bottom: 40px;
}

.art-content {
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.logo img {
    height: 100px;
}

.login-form-input {
    position: relative;
    height: 70px;
    width: 100%;
}

.form-option {
    font-family: 'PoppinsRegular', sans-serif;
    display: flex !important;
    font-size: .813rem;
    margin-top: 1rem !important;
}