.art-container {
    margin-bottom: 40px;
}

.art-content {
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.logo img {
    height: 100px;
}

.registration-form-input {
    position: relative;
    height: 70px;
}

.label-split {
    display: flex;
    justify-content: space-between;
}

.split-input {
    width: 242px;
}

.radio-selection h3 {
    width: 70px;
    display: inline-block;
    padding: 4px 4px;
}

.radio-value input[type="radio"] {
    display: none;
}

.radio-value label {
    width: 70px;
    display: inline-block;
    background-color: #ced4da;
    padding: 4px 4px;
    cursor: pointer;
}

.radio-value input[type="radio"]:checked+label {
    background-color: #2360B9;
    color: #ffffff;
}