<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Dashboard | EAS</title>
</head>

<body oncontextmenu="return false">
    <header>
        <div class="logo"><img src="/img/Logo.png" alt="Government of Nepal"></div>
        <div class="art-container">
            <div class="art-content">
                <p class="text-danger">Online Driving License System</p>
            </div>
            <div class="art-content">
                <p class="text-primary">Email Automation</p>
            </div>
        </div>
        <div class="logo"><img src="/img/Nepal.png" alt="Flag of Nepal"></div>
    </header>
    <div class="dashboard-container">
        <div class="view-title">User Registration</div>
    </div>
    <script src="/js/dashboard.js"></script>
</body>

</html>