<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Dashboard | EAS</title>
</head>

<body oncontextmenu="return false">
    <%- include('../header.ejs') %>
    <div class="dashboard-container">
        <div class="view-title">Applicant Portal</div>

        <% if(userInfo.filledprofile == null || userInfo.filledprofile == '0'){ %>
        <div class="note text-danger">[ Please Fill Your Personal Details First!!! ]</div>
        <% } %>

        <div class="dashboard-content">
            <a href="dashboard/user">
                <div class="dashboard-item">
                    <div class="dashboard-item-icon">
                        <img src="/img/User.png" alt="Personal Details">
                    </div>
                    <div class="dashboard-item-title">Personal Details</div>
                </div>
            </a>

            <% if(userInfo.filledprofile == '1' && userInfo.haslicense == '1'){ %>
            <a href="dashboard/license">
                <div class="dashboard-item">
                    <div class="dashboard-item-icon">
                        <img src="/img/View.png" alt="View Driving License">
                    </div>
                    <div class="dashboard-item-title">View Driving License</div>
                </div>
            </a>
            <% } %>

            <% if(userInfo.filledprofile == '1'){ %>
            <a href="dashboard/application/">
                <div class="dashboard-item">
                    <div class="dashboard-item-icon">
                        <img src="/img/Apply.png" alt="License Application">
                    </div>
                    <div class="dashboard-item-title">License Application</div>
                </div>
            </a>
            <% } %>

            <a href="/logout">
                <div class="dashboard-item">
                    <div class="dashboard-item-icon">
                        <img src="/img/Logout.png" alt="Logout">
                    </div>
                    <div class="dashboard-item-title text-danger">Logout</div>
                </div>
            </a>
        </div>
    </div>
    <script src="/js/dashboard.js"></script>
</body>
<%- include('../footer.ejs') %>

</html>